@import url("https://raw.githack.com/LuckFire/Theme-Source/main/src/source.css");

/* main box */
.modal-2VIBV8.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y { background-color: #340e49; }
.modal-2VIBV8.root-1gCeng > .footer-2gL1pp { background-color: #280a38; }
/* ipload popup */
.uploadModal-2ifh8j { background-color: #340e49 !important; }
.footer-3mqk7D { background-color: #280a38 !important; }
/* reaction boxes */
.reactors-Blmlhw.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 { background-color: #280a38 !important; }
.scroller-1-nKid.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 { background-color: #280a38 !important; }
/* popup boxes */
.theme-dark .message-2qRu38 { background-color: #280a38 !important; }
.theme-dark .root-1gCeng { background-color: #340e49 !important; }
.theme-dark .footer-2gL1pp { background-color: #280a38 !important; }
